a, a > code {
  color: #FF7F50;
  text-decoration: none;
}
body {
  color: #4F4F4F;
  font-family: "Ubuntu", Helvetica, sans-serif;
}
h1, h2, h3, h4 {
  text-align: center; 
  font-weight: 900;
  color: #4F4F4F;
  font-family: "Ubuntu", Helvetica, sans-serif;
}

/**********   class for headings without top margins   *************/
.heading_up h1, .heading_up h2, .heading_up h3, .heading_up h3 {
    padding-top: 0px; 
    margin-top: 0px;
}

/**********   class for headings without side margins   *************/
.heading_wide h1, .heading_wide h2, .heading_wide h3, .heading_wide h3 {
    padding-left: 0px; 
    padding-right: 0px; 
    margin-left: 0px;
    margin-right: 0px;
}

/**********   class for left aligned headings   *************/
.heading_left h1, .heading_left h2, .heading_left h3, .heading_left h3 {
  text-align: left; 
}
/**********   class for right aligned headings   *************/
.heading_right h1, .heading_right h2, .heading_right h3, .heading_right h3 {
  text-align: right; 
}

/**********  class for bigger codefont size   *************/
.large-code .remark-code{
  font-size: 100%
}


.large { 
  font-size: 120% 
}
.small { 
  font-size: 80% 
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code, .remark-inline-code { 
  background: #F5F5F5;
  border-radius: 3px;
  padding: 4px;
  font-family: 'Ubuntu Mono', Courier, monospace; 
}
.remark-code-line-highlighted { 
  background-color: #ffff88;
  font-family: 'Ubuntu Mono', Courier, monospace;
}

/**********   will this wrap the code? (plus reduce margins)   *************/
pre {
  white-space: pre-wrap;
  margin-bottom: 0em;
  margin-top: 0em;
}

/**********   changing default font size   *************/
.remark-slide-content {
    font-size: 30px;
    padding: 1em 2em 1em 3em;
}

.inverse {
  background-color: #4F4F4F;
  color: #DDDDDD;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}


/* remove numbering from title page: */
.title-slide .remark-slide-number {
  display: none;
}
/* remove all slide numberings: 
.remark-slide-number {
  display: none;
}
*/
.remark-slide-number {
  font-size: 13pt;
  font-weight: 1000;
  margin-bottom: -12px;
  margin-right: -5px;
  color: #000000; 
  opacity: 0.1; 
}

/**********    "Your turn" class   *************/

.yourturn {
   background: #4F4F4F;
}

.yourturn h1, .yourturn h2, .yourturn h3 {
  color: #DDDDDD;
  text-align: center; 
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 900;
}

.yourturn {
  color: #DDDDDD;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 900;
}

.yourturn .remark-code{ 
  color: #DDDDDD;
  background: #333333;
  border-radius: 3px;
  padding: 4px;
  font-family: 'Ubuntu Mono', Courier, monospace;
}

.yourturn .remark-inline-code{ 
  color: #DDDDDD;
  background: #333333;
  border-radius: 3px;
  padding: 4px;
  font-family: 'Ubuntu Mono', Courier, monospace;
}
